// @import url("normalize.css");
@import "compass";
@import "compass/reset";
$experimental-support-for-svg: true;

/** VARIABLES **/
$green: rgb(98,122,38);
$red: rgb(125,44,41);
$backcolor: rgb(248,248,255);
$frontcolor: #111;
$leftwidth: 640px;
$headerheight: 130px;

/** GLOBAL SETS **/
.clear {
  clear: both;
}

.hidden {
  display: none;
}

body {
  background-color: $backcolor;
  color: $frontcolor;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

#left, #right {
  float: left;
}

#left {
  width: $leftwidth;
}

#header {
  padding: 40px 20px 0px;
  // position: fixed;
  // width: $leftwidth - 10px;
  //height: $headerheight;
  background-color: $backcolor;
  // padding: 25px;
  color: $frontcolor;
}

#nav {
  margin: 15px 0px;
}

#child_menu {
  margin: 10px 0px;
}

#nav li,
#child_menu li {
  display: inline;
  margin: 0 10px 0 0;
  font-size: 1.1em;
  text-transform: uppercase;
  // font-weight: bold;
  list-style: none;
  a {
    color: $frontcolor;
    line-height: 30px;
    // padding: 0 10px; 
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      margin-top: 5px;
      @include transition(all 0.3s);
    }
  }
}

.logo  {
  color: $frontcolor;
  &:link,
  &:visited,
  &:hover {
    font-size: 52px;
    text-transform: uppercase;
    font-family: Arial;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

#content {
  // margin-top: $headerheight + 30px;
  padding: 25px 60px 0px;
}

#slides {
  background: url("img/spinner.gif") center;
  /*overflow: hidden;*/
  position: fixed;
  z-index: -1;
}

.trans-vert {
  position: fixed;
  float:right;
  width: 15%;
  @include filter-gradient($backcolor, $backcolor, horizontal); // IE6-9
  @include background-image(linear-gradient(left, $backcolor 0%,rgba(255,255,255,0) 100%));
}
.trans-hori {
  position: fixed;
  margin-top: $headerheight + 30px;
  width: $leftwidth;
  height: 25px;
  @include filter-gradient($backcolor, $backcolor, vertical); // IE6-9
  @include background-image(linear-gradient(top, $backcolor 0%,rgba(255,255,255,0) 100%));
}

.page-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  color: darkgray;
  font-size: 0.8em;
  span {
    font-style: italic;
  }
}

